@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    int? atindex = User?.Identity?.Name?.IndexOf('@');
    string? username =atindex.HasValue ? User?.Identity?.Name?.Substring(0, atindex.Value) : null;
    if(!string.IsNullOrEmpty(username))
    {
        username = char.ToUpper(username[0]) + username.Substring(1);
    }
}
<ul class="navbar-nav ms-auto">
@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
    <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index"><img src="~/Site Images/Main/administrator.png" class="img-fluid" /></a>
    </li>
    }
    <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa-solid fa-id-badge"></i> My Profile</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-light"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
