@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "AdminPanel";
}
<div class="container">
    <div class="row">
        <h1><img src="~/Site Images/Admin/gear-1119298_640.png" style="width: 64px; height: auto" /> Admin Panel</h1>
        <ul class="col offset-1 mt-3">
            <li><a asp-action="ManageUsers" asp-controller="Admin">Manage Users</a></li>
            <li><a asp-action="ManageRoles" asp-controller="Admin">Manage Roles</a></li>
        </ul>
    </div>
</div>

